body {
    background-color: rgb(255, 248, 241);
}

body.dark_mode {
    background-color: #152028;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 17px;
    margin: 0px 5px -5px 5px;
}

.container {
    position: relative;
    font-size: 15px;
    margin: 15px 10px 15px 0px;
}

.container.dark_mode a {
    color: #0075FF;
}

#setting {
    border-radius: 5px;
    height: 26px;
    border: 0px;
}

#setting:hover {
    opacity: 0.8;
}

.fork {
    width: 12px;
    margin-left: 10px;
}
