body {
    background-color: rgb(255, 248, 241);
}

body.dark_mode {
    background-color: #152028;
    color: #FFFFFF;
}

button {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
    height: 30px;
    border: 0px;
}

button:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

select {
    margin: 10px 10px 10px 10px;
}

img {
    width: 17px;
    margin: 0px 5px -5px 5px;
}

.container {
    position: relative;
    font-size: 15px;
    margin: 15px 10px 15px 0px;
}

.container.dark_mode a {
    color: #0075FF;
}

.fork {
    width: 12px;
    margin-left: 10px;
}

/* dark mode button */

.switch {
    float: right;
    position: relative;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #001a8f;
}

input:focus+.slider {
    box-shadow: 0 0 1px #001a8f;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}